<form action="/api/comments" method="POST">
    <input type="hidden" name="post_id" value="{{post_id}}">
    <div class="form-group">
        <label for="commentBody">Your Comment</label>
        <textarea name="body" id="commentBody" class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post Comment</button>
</form>